Please confirm your reservation details:

Location: {{ context.location }}, {{ context.city }}
Date: {{ context.date }}
Time: {{ context.time_slot }}
Number of guests: {{ context.guests }}
Contact number: {{ context.phone }}

1. Confirm reservation
2. Start over
Type 'back' to edit your phone number
