I've found your reservation with reference {{ context.reference }}. What would you like to modify?

1. Change date
2. Change time
3. Change number of guests
4. Cancel reservation

Please select by typing the number, or type 'back' to re-enter your reference.
